@font-face {
  font-family: "Zilla Slab Bold";
  src: url("../fonts/zilla-slab/ZillaSlab-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Zilla Slab Highlight Bold";
  src: url("../fonts/zilla-slab/ZillaSlabHighlight-Bold.otf") format("opentype");
}

body {
  margin: 0;
  background-color: #008acd;
  background-image: url("https://d3040.com/img/awesome-back.jpg");
  background-size: cover;
  color: #e5f3fa;
  font-family: "Zilla Slab Bold";
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 5rem;
  margin: 0;
}

p {
  font-size: 8rem;
  font-family: "Zilla Slab Highlight Bold";
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: .5rem;
}

footer a {
  color: inherit;
}

.d3040 {
  /* Color stop: A gradient going from the bottom to top,
   starting blue, turning green at 40% of its length,
   and finishing red */
  background: linear-gradient(
    to left,
    #008ACD 20%,
    #CD4400 20% 40%,
    #00CDAB 40% 60%,
    #CD0089 60% 80%,
    #4400CD 80%);
}

.hide {
  display: none;
}

@media screen and (max-width: 750px) {
  p {
    font-size:5rem;
    text-align:center;
  }
}
